{% extends "admin/delete_confirmation.html" %}
{% load i18n %}
{% block content %}
{{ block.super }}
{% if delete_preview %}
<h2>{% trans "Dependencies to remove" %}</h2>
<p>{% trans "The following related rows will also be deleted:" %}</p>
<ul>
  {% if delete_preview.sms_requests %}
  <li>{% blocktrans count counter=delete_preview.sms_requests %}{{ counter }} SMS request{% plural %}{{ counter }} SMS requests{% endblocktrans %}</li>
  {% endif %}
  {% if delete_preview.inbox_messages %}
  <li>{% blocktrans count counter=delete_preview.inbox_messages %}{{ counter }} inbox message{% plural %}{{ counter }} inbox messages{% endblocktrans %}</li>
  {% endif %}
  {% if delete_preview.device_sessions %}
  <li>{% blocktrans count counter=delete_preview.device_sessions %}{{ counter }} device session{% plural %}{{ counter }} device sessions{% endblocktrans %}</li>
  {% endif %}
  {% if delete_preview.health_telemetry %}
  <li>{% blocktrans count counter=delete_preview.health_telemetry %}{{ counter }} health telemetry row{% plural %}{{ counter }} health telemetry rows{% endblocktrans %}</li>
  {% endif %}
  {% if delete_preview.hidishelink_devices %}
  <li>{% blocktrans count counter=delete_preview.hidishelink_devices %}{{ counter }} HiDisheLink device row{% plural %}{{ counter }} HiDisheLink device rows{% endblocktrans %}</li>
  {% endif %}
</ul>
{% if not delete_preview.sms_requests and not delete_preview.inbox_messages and not delete_preview.device_sessions and not delete_preview.health_telemetry and not delete_preview.hidishelink_devices %}
<p>{% trans "No related rows found; only the ExternalDevice record will be removed." %}</p>
{% endif %}
{% endif %}
{% endblock %}
